.todo-box {
  border: 2px;
  margin-bottom: 10px;
}

.todo {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 470px;
  height: 40px;
}

.completed {
  background-color: lightgreen;
}

.todo-text {
  margin-left: 5px;
}

.todo-updatedAt {
  margin-left: auto;
  font-size: 12px;
}

.remove-button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  cursor: pointer;
}

.todo-box.grid-view {
  margin: 0;
}

.todo.grid-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px; 
  height: 170px; 
}

.info {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

